*.class
*.log
*.tmp
*.swp
*.DS_Store
node_modules/
dist/
build/
.env
.vscode/
.idea/
*.iml

Frontend/frontend/node_modules/
Frontend/frontend/.env
Frontend/frontend/build/
Frontend/frontend/.next/
Frontend/frontend/.turbo/
Frontend/frontend/.cache/
Frontend/frontend/.eslintcache
Frontend/package-lock.json
Frontend/package.json

ParkingPOS/target/
ParkingPOS/.classpath
ParkingPOS/.project
ParkingPOS/.settings/
ParkingPOS/.env

Thumbs.db
ehthumbs.db
desktop.ini